---
import { Image } from "astro:assets";
import cx from "classnames";
import logoBlack from "@assets/github-mark.svg";
import logoWhite from "@assets/github-mark-white.svg";

export interface Props {
    href: string;
    class?: string;
}

const { href, class: className = "" } = Astro.props;
---

<a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="GitHub Profile"
    class={cx(`github-link`, className)}
>
    <Image class="github-logo-light-mode" src={logoBlack} alt="GitHub Logo" />
    <Image class="github-logo-dark-mode" src={logoWhite} alt="GitHub Logo" />
</a>
