---
export interface Props {
  siteTitle: string;
  class?: string;
}
---

<nav class={Astro.props.class}>
    <ul>
        <li id="nav-title">
            <a href="/"><strong>{Astro.props.siteTitle}</strong></a>
        </li>
    </ul>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li>
            <a
                href="/subscribe"
                @click="open = true"
                onclick="return false">Subscribe</a
            >
        </li>
    </ul>
</nav>
